.input-tags-wrapper .rti--container {
  --rti-bg: #f0f8ff;
  --rti-main: #f0f8ff;
  --rti-border: #f0f8ff;
  --rti-radius: .375rem;
  --rti-tag: #edf2f7;
  --rti-tag-remove: #e53e3e;
  --rti-tag-padding: .15rem .25rem;
  align-items: center;
  }

  .input-tags-wrapper .rti--input {
    background: #f0f8ff;
    border: 0;
    outline: 0;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    }